<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hacker News</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/blog-home.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <h1 class="navbar-brand" href="#">Hacker News</h1>
            </div>
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-12">
              <h1 class="page-header">HN Feed
              <p> <small>We <3 hacker news</small></p>
              </h1>
              {{#each hits}}
                <!-- Blog Post -->
                <h3>
                  {{titler this}}
                  <small>
                    by {{author}} <a href = #><span class="glyphicon glyphicon-trash"></span></a>
                  </small>
                  <a class="btn btn-primary" href="/readMore"> Read more!</a>
                </h3>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{created_at}}</p>
                <p>{{bodier this}}</p>
                <p><a href={{urlize this}}>{{urlize this}}</a></p>
                <hr>
              {{/each}}
            </div>
        </div>
        <hr>
    </div>
</body>
</html>
